#results {
    @include size(300px, 550px);
    @include position(relative, 20px, $left: 5px);
    margin-right: auto;
    margin-left: auto;

    .columns, .resultsList, .userData {
        display: flex;
    }

    .columns {
        @include breakpoint ($tablet) {
            @include position (relative, $left: -150px);
            justify-content: space-between;
            width: 700px;
        }

        @include breakpoint ($desktop) {
            @include position (relative, $left: -300px);
            width: 900px;
        }
    }

    .columns div {
        width: 150px;
        margin-bottom: 10px;
        color: color(secondary);
        font-weight: bold;
        text-decoration: underline;
    }

    .resultsList {
        position: relative;
        flex-wrap: wrap;

        @include breakpoint ($tablet) {
            @include position (relative, $left: -150px);
            width: 650px;
        }

        @include breakpoint ($desktop) {
            width: 850px;
        }
              
        .userData {
            margin-bottom: 10px;

            @include breakpoint ($tablet) {
                width: 650px;
                justify-content: space-between;
            }

            @include breakpoint ($desktop) {
                @include position (relative, $left: -150px);
                width: 850px;
            }

            &:hover {
                background-color: color(userDataHover);
                cursor: pointer;
            }
        }
        
        .userName, .userDate, .userResult {
            width: 100px;
            margin-bottom: 10px;
        }

        .answers {
            flex-basis: 100%;
            width: 300px;
            margin-bottom: 10px;
            font-style: italic;

            @include breakpoint ($tablet) {
                width: 600px;
                margin: 0 50px 10px;
            }

            @include breakpoint ($desktop) {
                @include position (relative, $left: -50px);
            }
        }
    }

}