$colors: (
    primary: #84b1f53f,
    secondary: rgba(228, 22, 22, 0.514),
    primaryBtn: rgb(23, 141, 39),
    primaryBtn-dark: darken(rgb(23, 141, 39), 10%),
    secondaryBtn: rgba(46, 71, 141, 0.877),
    secondaryBtn-dark: darken(rgba(46, 71, 141, 0.877), 10%),
    btnText: #fff,
    userDataHover:  rgba(128, 128, 128, 0.247),
    backArrow: #000,
);

$tablet: 900px;
$desktop: 1200px;

@function color ($color-name) {
    @return map-get($colors, $color-name);
}


