@mixin size ($width, $height) {
    width: $width;
    height: $height;
}

@mixin position ($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin button_specs {
    border-radius: 3px;
    border: 1px;
    border-color: 1px solid #000;
    color: color(btnText);
    font-size: 1.1em;
    letter-spacing: 3px;
}

@mixin breakpoint ($point) {
    @media (min-width: #{$point}) {
        @content;
    }
}
